* {
    border: 0;
    margin: 0;
}

@font-face {
    font-family: alfa-slab-one;
    src: url("./assets/fonts/AlfaSlabOne-Regular.ttf");
}

@font-face {
    font-family: orbitron;
    src: url("./assets/fonts/Orbitron-Regular.ttf");
}

:root {
    --ship-color: rgb(31, 36, 31);
    --radio-color: rgb(28, 27, 27);
    --green-screen: rgb(49, 148, 115);
}

body {
    font-size: 10px;
    background-color: rgb(0, 105, 148);
    color: white;
}

h1 {
    font-size: 8em;
    text-align: center;
    font-family: alfa-slab-one, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

button[type="submit"] {
    border-radius: 10px;
    border: 1px solid white;
}

#setup-form {
    width: 100%;
    position: absolute;
    z-index: 1;
}

#setup-form p {
    margin-bottom: 10px;
}

#ask-for-name {
    margin: auto;
    background-color: var(--radio-color);
    width: max(40%, 400px);
    min-height: 200px;
    font-size: 1.8em;
    padding: 20px;
    border: 1px solid rgb(100, 100, 100);
}

#ask-for-name label {
    font-size: 2em;
}

#ask-for-name input, button[type="submit"] {
    margin-top: 50px;
}

#ship-placement {
    filter: blur(3px);
}

#ship-placement h2 {
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#setup-main {
    display: flex;
    justify-content: center;
}

#setup-main > div{
    margin-left: 15px;
    margin-right: 15px;
}

#setup-control {
    max-width: 600px;
    min-width: 40%;
    background-color: var(--radio-color);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
}

#setup-control h3 {
    font-size: 2.5em;
}

#setup-control p {
    font-size: 1.8em;
    margin-bottom: 2px;
}

#ship-pieces {
    display: flex;
    flex-wrap: wrap;
    min-height: 70%;
    padding: 10px;
    background-color: var(--green-screen);
}

.drag-ship {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 0 10px 0 10px;
}

.drag-ship div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: clamp(1.8em, 2vw, 4em);
}

.draggable:hover {
    cursor: grab;
}

.draggable:hover div i{
    color: rgb(55, 55, 55);
}

.draggable:hover .revealed-ship-middle{
    background-color: rgb(55, 55, 55);
}

.hover-effect {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.drag-image {
    position: absolute;
    left: -1000px;
}

#randomizer-btn {
    margin-top: 10px;
    background-color: inherit;
    color: white;
    font-size: 1.5em;
}

#randomizer-btn:hover {
    color:rgb(183, 181, 181);
}

#start-game-btn {
    font-size: 1.8em;
    margin: auto;
    padding: 5px;
    width: 20%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--radio-color);
    color: gray;
    border: 1px solid rgb(161, 160, 160);
}

#start-game-btn:hover {
    background-color: rgb(53, 52, 52);
}

#setup-board {
    margin: auto;
}

#board-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    width: 40vw;
    min-width: 300px;
    max-width: 600px;
    height: 40vw;
    min-height: 300px;
    max-height: 600px;
}

.gameboard div {
    position: relative;
    border: 1px solid rgb(183, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.8em, 2vw, 4em);
}

.gameboard div > * {
    pointer-events: none;
}

#commentary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#fake-radio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--radio-color);
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}

#radio-screen {
    position: relative;
    width: 80%;
    height: 100px;
    background-color: var(--green-screen);
    font-family: orbitron, 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

#radio-screen p {
    position: absolute;
}

#radio-screen p:first-child {
    font-size: 2.5em;
    bottom: 10px;
    left: 10px;
}

#win-stat {
    font-size: 7em;
    right: 20%;
    bottom: 0;
}

#rounds-played {
    font-size: 4em;
    top: 0;
    right: 5%;
}

#commentary-msg {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    width: 90%;
    height: 90px;
}

#new-game-btn {
    display: none;
    border: 1px solid gray;
    background-color: inherit;
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 25%;
}

.hit-ship {
    color: rgb(242, 145, 41);
}

.revealed-ship-top i, .revealed-ship-bottom i, .revealed-ship-middle i, .revealed-ship-right i, .revealed-ship-left i, .revealed-single-ship i{
    position: relative;
    color: var(--ship-color);
    font-size: clamp(32px, 4vw, 65px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.revealed-single-ship i {
    font-size: clamp(23px, 3.5vw, 55px);
}

div .revealed-ship-middle {
    background-color: var(--ship-color);
    width: clamp(32px, 4vw, 65px);
    height: clamp(32px, 4vw, 65px);
    max-width: 100%;
    max-height: 100%;
}

.revealed-ship-top i{
    transform: rotate(-90deg);
}

.revealed-ship-bottom i {
    transform: rotate(90deg);
}

.revealed-ship-left i {
    transform: rotate(180deg);
}

@media only screen and (min-width: 1300px) {
    #board-container {
        justify-content: center;
    }

    .gameboard {
        margin: 0 80px 0 80px;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 13vw;
        letter-spacing: 2px;
    }

    #board-container {
        flex-direction: column;
    }

    .gameboard {
        margin: 20px;
    }

    #fake-radio {
        width: 100%;
        font-size: 0.8em;
    }

    #setup-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #setup-control {
        width: 90%;
        margin-top: 30px;
    }

    #ship-pieces {
        min-height: 200px;
    }
}

@media only screen and (max-width: 420px) {
    #ask-for-name {
        width: 100%;
    }
}